/* RESET */
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    
}

/* COMMONS */

/* TYPO */
body{
    font-family: 'Lato', sans-serif;
}

/* MAIN */
header{
    height: 30px;
    background-color: black;
    text-align: right;
    padding: 5px;
    vertical-align: middle;
}

body {
    background-color: #000;
    height: 100vh;
}

main{
    height: calc(100% - 120px);
    background-color: darkgrey;
    max-width: 90%;
    margin: auto;

}

footer{
    height: 90px;
    background-color: bisque;
    
}

.speaker-view{
    color: white;
    display: inline-block;
    margin-right: 10px;
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    
}

span i{
    color: white;
    background-color: #4a4a4a;
    padding: 6px;
    border-radius: 5px;
    font-size: 12px;
    
}